<ion-content no-bounce class="startPage register">
  <div class="logo"><img src="assets/img/logo.png" class="slide-image" /></div>
  <h1>{{ "START1" | translate }}</h1>
  <h5>{{ "START2" | translate }}</h5>
  <div class="ios-register-input">
    <input type="tel" [(ngModel)]="phoneNumber" placeholder="9665xxxxxxxx" onkeypress='if(event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) return  true;else if(event.charCode >= 48 && event.charCode <= 57 && this.value.length<12) return true; else return false;'
    /><br>
    <br>
    <input type="password" [(ngModel)]="password" placeholder="{{'PASS' | translate}} " />
  </div><br>
  <button ion-button (click)="startApp()" color="secondary">{{ "Submit" | translate }}</button>
  <br><br>
  <div class="forgotPassword">
    <button ion-button color="secondary" (click)="ForgetPassword()" clear>{{"FORGET_PASSWORD" | translate }}</button>
  </div>
</ion-content>