<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Contact Us" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dummyData contactUs classDiv">
  <h1>{{"Contact Us" | translate }}</h1>
  <div><p>{{"MISK4" | translate }}</p>
    <p>{{"MISK5" | translate }}</p>
    <p *ngIf="show">{{"MISK15" | translate }}</p>
    <p>{{"MISK6" | translate }}</p>
    <p>{{"MISK7" | translate }}</p>
  </div>
</ion-content>