<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "REP_PRO" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dummyData pad-content">
  <ion-item>
    <ion-label floating>{{ "YOUR_NAME" | translate }}</ion-label>
    <ion-input type="text" name="username" [(ngModel)]="reportProblem.name" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>{{ "YOUR_EMAIL" | translate }}</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="reportProblem.email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>{{ "ANYQ" | translate }}</ion-label>
    <ion-textarea rows="6" [(ngModel)]="reportProblem.message"></ion-textarea>
  </ion-item>

  <button ion-button color="secondary" (click)="sendProblem()" class="btnReport">{{ "Submit" | translate }}</button>
</ion-content>