
page-tutorial {
  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
.toolbar-background {
  background: #0d392a none repeat scroll 0 0;
}
.bar-button-default {
  color: #fff;
}
.toolbar-title {
    color: #fff;
}
ion-avatar[item-left], ion-thumbnail[item-left] {
  margin: 13px 0;
  width: 14%;
  float: left;
}
ion-list .item .item-inner {
  border-bottom: 1px solid transparent;
}
ion-item-sliding .item {
  position: static;
  border-bottom: solid 1px #c8c7cc;
}
ion-list {
  margin: -1px 0 12px;
}
ion-tabbar {
  background: #34aa89 none repeat scroll 0 0;
}

.tab-button {
    color: #fff;
}
.scrollContent scroll-content{
  margin-top: 56px !important;
  text-align: center;
}
.tab-button:hover:not(.disable-hover), .tab-button[aria-selected="true"] {
  color: #0d392a;
}
.segment-button.segment-activated {
  background-color: #34aa89;
}
.segment-button {
  border-color: #34aa89;
  color: #34aa89;
}
.toolbar ion-searchbar .searchbar-input {
  background: #34aa89;
}
ion-avatar img, ion-thumbnail img {
  border: 1px solid #ccc;
}
.tutorial-page .bar-button-default {
  color: #34aa89;
}
.tutorial-page p {
  padding: 0 10px;
}
.tutorial-page .slide-image {
  margin: 36px 0 20px;
  max-height: 50%;
  max-width: 80%;
}
.register{
  background: #34aa88;
  text-align: center;
  border: solid 1px #ccc;
}
.sessionDetails{
  text-align: center;
}
.register .logo{
  background: #fff;
  width: 100%;
}
.register p{
  color: #fff;
  font-size: 20px;
  margin-top: 25px;
}
.register h1{
  color: #fff;
  margin-top: 50px;
}
.register h3{
  margin-top: 25px;
  color: #fff;
  text-align: center;
}
.register input{
  width: 200px;
  padding:14px;
  background: #fff;
}
/*.register input::nth-child(1),.register input::nth-child(2), .register input::nth-child(3), .register input::nth-child(4), .register input::nth-child(5){
    visibility:hidden;
}
.ios-register-input:nth-of-type(3n+1) .ios-register-input input:nth-child(3n+2) {
 visibility:hidden;
 display: none;
}
.ios-register-input input:nth-of-type(2), .ios-register-input input:nth-of-type(2n+2), .ios-register-input input:nth-of-type(3n+2)  {
 visibility:hidden;
 display: none;
}*/
.ios-register-input{
position: relative;
display: block;
text-align: center;
}
.ios-register-input input {
width: 200px;
height: auto;
padding:14px;
border-radius: 6px;
border:0px;
color: #000;
}



.register .button-secondary {
    background-color: #00664b;
    font-size: 20px;
    padding: 10px 15px;
}
.dummyData{
  background: #34aa88;
  text-align: justify;
}
.dummyData p{
  color: #fff;
  font-size: 15px;
  padding: 10px;
}
.dummyData h2{
  color: #fff;
}
.dummyData h3{
  color: #fff;
}
.contactUs{
  text-align: left;
}
.contactUs h1{
  text-align: left;
  color: #fff;
  padding: 10px;
  
}
.contactUs h3{
  text-align: left;
  color: #fff;
  padding: 10px;
  
}
.classDiv{
  color: #fff;
  div{
  padding-left: 10px;
  }
  p{
    color: #fff;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
  }
}
.abtSchool p{
  font-size: 15px;
  text-align: justify;
} 
.dummyData .button-secondary {
    background-color: #00664b;
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
}
.btnReport {
  margin-top: 25px;
}
.scrollContent scroll-content{
  margin-top: 56px !important;
  text-align: center;
}
.LangList ion-list{
  padding: 10px;
}
.LangList scroll-content{
  margin-top: 56px !important;
  font-size: 17px;
}
.dummyData scroll-content{
  text-align: center;
}
.contactUs scroll-content{
  text-align: left;
}
.prvPolicy h2, h3{
  text-align: left;
  
}
.prvPolicy p{
  text-align: justify;
}
.toggle-checked {
    background-color: rgb(52, 170, 136);
}
.checkbox-checked {
    border-color: rgb(52, 170, 136);
    background-color: rgb(52, 170, 136);
}
.button-secondary {
    background-color: #00664b;
}
.button-ios-secondary, .button-md-secondary, .button-wp-secondary {
  color: #fff;
  background-color: #00664b;
}
.tabs-ios .tabbar, .tabs-md .tabbar, .tabs-wp .tabbar{
    background: #34aa89 none repeat scroll 0 0;
}
.tabs-ios .tab-button[aria-selected=true], .tabs-md .tab-button[aria-selected=true], .tabs-wp .tab-button[aria-selected=true]{
  color: #0d392a;
}
.tabs-ios .tab-button, .tabs-md .tab-button, .tabs-wp .tab-button{
  color: #fff;
}
ion-icon {
    display: inline-block;
    font-size: inherit;
}
 .bar-buttons-ios, .bar-buttons-md, .bar-buttons-wp {
    order: 0;
    background-color: #0d392a;
    color: #fff;
    font-size: 2.5em;
}
.segment-ios .segment-button.segment-activated {
    color: #fff;
    background-color: #34aa89;
}
.segment-ios .segment-button {

    border-color: #34aa89;
    color: #34aa89;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: transparent;
    opacity: 1;
    color: #fff;
}
.segment-wp .segment-button{
  color: #fff;
}
.segment-button.activated, .segment-button.segment-activated{
  color: #fff;
}
.searchbar-md .searchbar-input, .searchbar-wp .searchbar-input, .searchbar-ios .searchbar-input{
  color: #fff;
}
.badge-ios, .badge-md, .badge-wp {
    background-color: red;
}
.toolbar .searchbar-ios .searchbar-input{
  background-color: #00664b;
}
.toggle-ios .toggle-checked {
    background-color: #34aa89;
}
.toggle-md .toggle-checked {
    background-color: #d1fef1;
}
.toggle-md .toggle-checked .toggle-inner {
    background-color: #34aa89;
}
.toggle-wp .toggle-checked {
    border-color: #34aa89;
    background-color: #34aa89;
}
.bar-button-menutoggle-ios ion-icon, .bar-button-menutoggle-wp ion-icon, .bar-button-menutoggle-md ion-icon {
  font-size: inherit;
}
select{
  float : right;
}
.bar-button-secondary-ios, .bar-button-default.bar-button-ios-secondary, .bar-button-clear-ios-secondary{
  color: #fff;
  top: -10px;
}
.bar-button-secondary-wp, .bar-button-default.bar-button-wp-secondary, .bar-button-clear-wp-secondary{
  color: #fff;
  top: -10px;
}
.bar-button-secondary-md, .bar-button-default.bar-button-md-secondary, .bar-button-clear-md-secondary{
  color: #fff;
  top: -10px;
}
.item-ios, .item-md, .item-wp{
  font-size: 1.4rem;
  padding-right: 10px;
}
.list-ios, .list-md, .list-wp {
    margin: -1px 0 2px 0;
}

.list-ios .item-block .item-inner, .list-md .item-block .item-inner, .list-wp .item-block .item-inner {
    border-bottom: none;
}
ion-content .content-wp, .content-ios {
     top: 0px !important; 
}
.startPage{
  color: #fff;
}
.startPage h1{
  padding: 0 10px;
}
.startPage h5{
  padding: 0 10px;
  font-size: 1.6rem;
}
.toolbar-background-ios{
  border-bottom-width:0;
}
.countrydiv {
    float: left;
    width: 20%;
    margin: 0px 0px 0px 40px;
    top: 12px;
}
ion-select{ width: auto}

.inputdiv {
    float: left;
    width: 60%;
}
.enter{
  display: block; 
  text-align: center;
  margin-bottom: 10px;
  min-height: 46px;
}
.enter .item-ios,.enter .item-md, .enter .item-wp {
  width: 80px;
  padding-left: 0;
  display: inline-block;
  vertical-align: top;
}
.enter .item-ios{
  min-height: 45.5px;
}
.enter .item-md{
  min-height: 44.5px;
}
.enter .item-wp{
  min-height: 44.5px;
}
.enter ion-select{max-width: 100%;}
.enter ion-input{
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.enter .text-input-ios,.enter .text-input-md,.enter .text-input-wp{
  margin: 0px !important;
}
.btnReport{    margin: 10px auto;
    display: block;
    }
    .colorText{
      color:#fff;
    }


.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {   
    background-position: right 0px center;
    padding-right: 15px;
   
}
.item-md [item-left], .item-md [item-right] {
    margin: 0px 1px 0px 0;
}
.item-wp [item-left], .item-wp [item-right] {
    margin: 0;
}

.item-ios [item-right] {
    margin: 0px 0px 0px 0px;
}

.breakText h2{
word-break: break-word;
    white-space: normal;
}
.breakText ion-note{
word-break: break-word;
    white-space: normal;
}
.breakText p{
word-break: break-word;
    white-space: normal;
}
.register .item-ios, .register .item-md {
    position: relative;
    padding-left: 16px;
    border-radius: 0;
    font-size: 1.6rem;
    color: #000;
    background-color:transparent;
    transition-duration: 200ms;
    padding-right: 16px;
}

.register .item-ios.item-block .item-inner, .register .item-md.item-block .item-inner  {
    padding-right: 0;
    border-bottom: none;
    box-shadow: none;
}
.register .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    
    box-shadow: none;
}

// .settingsPage ion-label#lbl-1,.settingsPage ion-label#lbl-2,.settingsPage ion-label#lbl-3,.settingsPage ion-label#lbl-4,.settingsPage ion-label#lbl-5,.settingsPage ion-label#lbl-6,.settingsPage ion-label#lbl-7,.settingsPage ion-label#lbl-8,.settingsPage ion-label#lbl-9,.settingsPage ion-label#lbl-10,.settingsPage ion-label#lbl-11,.settingsPage ion-label#lbl-12,.settingsPage ion-label#lbl-13,.settingsPage ion-label#lbl-14,.settingsPage ion-label#lbl-15,.settingsPage ion-label#lbl-16,.settingsPage ion-label#lbl-17,.settingsPage ion-label#lbl-18,.settingsPage ion-label#lbl-19,.settingsPage ion-label#lbl-20,.settingsPage ion-label#lbl-21,.settingsPage ion-label#lbl-22,.settingsPage ion-label#lbl-23,.settingsPage ion-label#lbl-24,.settingsPage ion-label#lbl-25,.settingsPage ion-label#lbl-26, ion-label#lbl-27,.settingsPage ion-label#lbl-1,.settingsPage ion-label#lbl-2,.settingsPage ion-label#lbl-3,.settingsPage ion-label#lbl-4,.settingsPage ion-label#lbl-5,.settingsPage ion-label#lbl-6,.settingsPage ion-label#lbl-7,.settingsPage ion-label#lbl-8,.settingsPage ion-label#lbl-9, {
//     color: #012f23;
//      font-size: 17px;
// }
.settingsPage ion-label{
    color: #012f23;
    font-size: 17px;
}

.toolbar .searchbar-ios .searchbar-input, .toolbar .searchbar-md .searchbar-input {
    background-color: #fff;
    color: #000 !important;
}
  ion-item:nth-child(3) {
    input {
      text-transform: none;
    }
  }
  .text-input{
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    }

    .ios-register-input{
      width:200px;
      margin:0 auto;
    }
    
    .forgotPassword button{
      color: #00FFFF;
    }
    .ion-last .item-inner{
      border-bottom:none !important;
    }
    .titleHeader .toolbar-title-md {
    text-align: center;
}
.logos {
    max-width: 11%;
    border: 0;
    position: relative;
    top: 4px;
}
.title-md{
   display: inline-block;
 }
 .toolbar-title-ios{
   padding-left: 5px;
   text-align: left;
 }
 .toolbar-title-md{
   padding: 0px;
   padding-left: 5px;
 }
 .Urdu-arabic{
   text-align: right;
 }
 ion-item-divider.item-ios, ion-item-divider.item-md, ion-item-divider.item-wp{
   background: #f0fffb;
 }