<ion-content no-bounce class="register" *ngIf="this.confData.authenticated === true">
  <div class="logo"><img src="assets/img/logo.png" class="slide-image" /></div>

  <h1>{{ "START1" | translate }}</h1>
  <p>
    {{ "HOME1" | translate }}
  </p>
  <div class="ios-register-input">
    <input type="tel" [(ngModel)]="phoneNumber" placeholder="9665xxxxxxxx" onkeypress='if(event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) return  true;else if(event.charCode >= 48 && event.charCode <= 57 && this.value.length<12) return true; else return false;'/>
</div><br>
<button ion-button (click)="sendDetails()" color="secondary">{{ "Submit" | translate }}</button>
</ion-content>