<ion-tabs [selectedIndex]="mySelectedIndex" tabsPlacement="bottom">
  <ion-tab [root]="homeTabRoot" tabTitle="{{ 'TAB_HOME' | translate }}" tabIcon="home"></ion-tab>
  <!--<ion-tab [root]="mapTabRoot" tabTitle="Map" tabIcon="map"></ion-tab>-->
  <ion-tab [root]="notificationsTabRoot" tabTitle="{{ 'TAB_NOTIFICATIONS' | translate }}" tabBadge="" tabBadgeStyle="danger" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="setttingsTabRoot" tabTitle="{{ 'TAB_SETTINGS' | translate }}" tabIcon="cog"></ion-tab>
</ion-tabs>
