<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"About School" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dummyData abtSchool contactUs">
  <h1>{{"About School" | translate }}</h1>
  <p>
    {{ "MISK1" | translate }}</p>
  <p>
    {{ "MISK2" | translate }}
  </p>
  <p>
    {{ "MISK3" | translate }}
  </p>
</ion-content>