<ion-content no-bounce class="register">
    <div class="logo"><img src="assets/img/logo.png" class="slide-image" /></div>
    <p>{{ "OTP1" | translate }}</p>
    <p>{{ "OTP2" | translate }}</p>
      <div class="ios-register-input"><input type="number" [(ngModel)]="MobileOTP" placeholder="{{ 'OTP3' | translate }}" 
      onkeypress='if(event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) return  true;else if(event.charCode >= 48 && event.charCode <= 57 && this.value.length<6) return true; else return false;' /></div>
    <button ion-button (click)="startApp()" color="secondary">{{ "Submit" | translate }}</button>
</ion-content>