<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/img/misk_logo2.png" class="logos" />
    <ion-title class="logo-title title-ios">{{ "TAB_SETTINGS"| translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="settingsPage">
  <ion-item>
    <ion-label>
      {{ 'SELECT_LANG' | translate }}
      <select #langSelect end (change)="translate.use(langSelect.value)">
          <option end *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang | translate }}</option>
        </select>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label (click)="passwordChange()">
      {{ 'CHANGEPWD' | translate }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label (click)="mobileNoChange()">
      {{ 'RE_REG_MOB' | translate }}
    </ion-label>
  </ion-item>
  
  <ion-item *ngIf='authAvailable===true' class="ion-last">
    <ion-toggle [(ngModel)]='isAvailable'></ion-toggle>
    <ion-label>
      {{ 'FINGER_PRINT' | translate}}
    </ion-label>
    <ion-icon name='finger-print' item-left></ion-icon>
  </ion-item>

  <button ion-button color="secondary" (click)="langChange()" class="btnReport">{{ "SAVE_BTN" | translate }}</button>

</ion-content>