<ion-header>
	<ion-navbar>
		<ion-title>{{"RE_REG_MOB" | translate }}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
  <ion-label floating>{{ "ENT_OLD_NUM" | translate }}</ion-label>
  <ion-input  [(ngModel)]="oldPhoneNumber" type="tel" onkeypress='if(event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) return  true;else if(event.charCode >= 48 && event.charCode <= 57 && this.value.length<12) return true; else return false;'></ion-input>
 </ion-item>

 <ion-item>
  <ion-label floating>{{ "ENT_NEW_NUM" | translate }}</ion-label>
  <ion-input  [(ngModel)]="newPhoneNumber" type="tel" onkeypress='if(event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) return  true;else if(event.charCode >= 48 && event.charCode <= 57 && this.value.length<12) return true; else return false;'></ion-input>
 </ion-item>

<ion-item>
  <ion-label floating>{{ "ENT_NEW_NUM_CONF" | translate }}</ion-label>
  <ion-input  [(ngModel)]="confPhoneNumber" type="tel" onkeypress='if(event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) return  true;else if(event.charCode >= 48 && event.charCode <= 57 && this.value.length<12) return true; else return false;'></ion-input>
 </ion-item>

  <button ion-button (click)="UpdatePhoneNumber()" color="secondary" class="btnReport">{{ "Submit" | translate }}</button>
</ion-content>

