<ion-content no-bounce class="startPage register" *ngIf="this.confData.authenticated === true">
  <div class="logo"><img src="assets/img/logo.png" class="slide-image" /></div>
  <h1>{{ "START1" | translate }}</h1>
  <h5>{{ "START2" | translate }}</h5><br>
  <button ion-button (click)="startApp()" color="secondary">{{ "Launch_App" | translate }}</button>
</ion-content>