<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>
<!--<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm3rzRXDsTnN9XUnaNDJw2n5xxFs4XzWY"></script>-->
<ion-content class="map-page">
  <ion-content>
  <h3>Current Latitude: {{confData.lat}}</h3>
  <h3>Current Longitude: {{confData.lng}}</h3>
  <button ion-button full primary (click)="start()">Start Tracking</button>
  <button ion-button full primary (click)="stop()">Stop Tracking</button>
</ion-content>
</ion-content>
