<ion-header>
  <ion-navbar>
    <ion-title>{{"CHANGEPWD" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-item>
    <ion-label floating>{{ "PREV_PWD" | translate }}</ion-label>
    <ion-input [(ngModel)]="prevPassword" type="password" onkeypress="if(event.keyCode == 32 || event.charCode == 32) return false; else return true;"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>{{ "NEW_PWD" | translate }}</ion-label>
    <ion-input [(ngModel)]="newPassword" type="password" onkeypress="if(event.keyCode == 32 || event.charCode == 32) return false; else return true;"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>{{ "CONF_PWD" | translate }}</ion-label>
    <ion-input [(ngModel)]="confPassword" type="password" onkeypress="if(event.keyCode == 32 || event.charCode == 32) return false; else return true;"></ion-input>
  </ion-item>

  <button ion-button (click)="updatePassword()" color="secondary" class="btnReport">{{ "Submit" | translate }}</button>
</ion-content>