
<ion-menu [content]="content" >

  <ion-header>
    <ion-toolbar>
      <ion-title>{{ "MENU" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="outer-content">

    <ion-list>
      <!--<ion-list-header>
        {{ "NAVIGATE" | translate }}
      </ion-list-header>-->
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        {{ p.title | translate }}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" ></ion-nav>
