<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Privacy Policy" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dummyData prvPolicy contactUs">
  <h1>{{"MISK8" | translate }}</h1>
  <h3>{{"MISK9" | translate }}</h3>
  <p>
    {{"MISK10" | translate }}
  </p>
  
</ion-content>