<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<img src="assets/img/misk_logo2.png" class="logos" />
		<ion-title class="logo-title title-ios">{{ 'TAB_NOTIFICATIONS' | translate }}</ion-title>
	</ion-navbar>

	<ion-toolbar no-border-top>
		<ion-segment [(ngModel)]="segment">
			<ion-segment-button value="queued">
				{{ "QUEUED" | translate }}
			</ion-segment-button>
			<ion-segment-button value="dismiss">
				{{ "DISMISS" | translate }}
			</ion-segment-button>
			<ion-segment-button value="pickedup">
				{{ "PICKED_UP" | translate }}
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>


<ion-content class="outer-content speaker-list breakText">
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'Pull_refresh' | translate}}" 
			refreshingText="{{ 'Refreshing' | translate }}...">
		</ion-refresher-content>
	</ion-refresher>
	<div [ngSwitch]="segment">
		<ion-list *ngSwitchCase="'queued'">
			<ion-item-sliding *ngFor="let speaker of speakers; let i = index " class="queue">
				<button ion-item>
        		<h2>{{speaker.FirstName | translate }} {{speaker.LastName | translate }}</h2>
				<p *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">{{speaker.Grade | translate }}({{speaker.Section | translate}}) {{speaker.NotificationTime}} </p>
				<p *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'" >{{speaker.NotificationTime}} {{speaker.Grade | translate }} {{speaker.Section | translate}}</p>
				<p>{{speaker.NotificationDate }}</p>
					<ion-note *ngIf="this.chkRollBack[i]" item-right >{{ speaker.Status | translate }}<b style="color: red"><ion-icon name="ios-undo"></ion-icon></b> {{speaker.GateName | translate}}</ion-note>
					<ion-note *ngIf="!this.chkRollBack[i]" item-right >{{ speaker.Status | translate }} {{speaker.GateName | translate}}</ion-note>

				
     			</button>
			</ion-item-sliding>
		</ion-list>

		<ion-list *ngSwitchCase="'dismiss'">
			<ion-item-sliding *ngFor="let speaker of disMissed" class="dismiss" >
				<button ion-item>
        		<h2>{{speaker.FirstName | translate }} {{speaker.LastName | translate }}</h2>
        		<p *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">{{speaker.Grade | translate }}({{speaker.Section | translate}}) {{speaker.NotificationTime}} </p>
				<p *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'"  >{{speaker.NotificationTime}} {{speaker.Grade | translate }} {{speaker.Section | translate}}</p>
				<p>{{speaker.NotificationDate }}</p>
        		<ion-note item-right >{{ speaker.Status | translate }} {{speaker.GateName | translate}} </ion-note>
     			</button>
			</ion-item-sliding>
		</ion-list>
		<ion-list *ngSwitchCase="'pickedup'">
			<ion-item-sliding *ngFor="let speaker of pickedUps" class="picked">
				<button ion-item>
        		<h2>{{speaker.FirstName | translate }} {{speaker.LastName | translate }}</h2>
        		<p *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">{{speaker.Grade | translate }}({{speaker.Section | translate}}) {{speaker.NotificationTime}} </p>
				<p *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'" > {{speaker.NotificationTime}}  {{speaker.Grade | translate }} {{speaker.Section | translate}}</p>
				<p>{{speaker.NotificationDate }}</p>
        		<ion-note item-right >{{ speaker.Status | translate }} {{speaker.GateName | translate}}</ion-note>
     			</button>
			</ion-item-sliding>
		</ion-list>
	</div>
</ion-content>