
page-speaker-list {

  ion-card.speaker ion-card-header .item {
    padding: 12px;
  }

  ion-card.speaker ion-card-content .list {
    margin: 0;
  }

  ion-card.speaker ion-card-header,
  ion-card.speaker ion-card-content,
  ion-card.speaker ion-card-content .list ion-item-content, {
    padding: 0;
  }

}

.toolbar-background {
  background: #0d392a none repeat scroll 0 0;
}
.bar-button-default {
  color: #fff;
}
.toolbar-title {
    color: #fff;
}
ion-avatar[item-left], ion-thumbnail[item-left] {
  margin: 13px 0;
  width: 14%;
  float: left;
}
ion-list .item .item-inner {
  border-bottom: 1px solid transparent;
}
ion-item-sliding .item {
  position: static;
  border-bottom: solid 1px #c8c7cc;
}
ion-list {
  margin: -1px 0 12px;
}
ion-tabbar {
  background: #34aa89 none repeat scroll 0 0;
}

.tab-button {
    color: #fff;
}
.tab-button:hover:not(.disable-hover), .tab-button[aria-selected="true"] {
  color: #0d392a;
}
.segment-button.activated, .segment-button.segment-activated {
  border-color: #34aa89;
  color:  #34aa89;
}
ion-list-header, ion-item-divider {
  background: #efeff4 none repeat scroll 0 0;
}
ion-avatar img, ion-thumbnail img {
  border: 1px solid #ccc;
}
.tutorial-page .bar-button-default {
  color: #34aa89;
}
.tutorial-page p {
  padding: 0 20px;
}
.tutorial-page .slide-image {
  margin: 36px 0 10px;
  max-height: 50%;
  max-width: 80%;
}
.register{
  background: #34aa88;
  text-align: center;
}
.register .logo{
  background: #fff;
  width: 100%;
}
.register p{
  color: #fff;
  font-size: 20px;
  margin-top: 50px;
}
.register input{
  background: #fff;
  width: 200px;
  padding:10px;
}
.register .button-secondary {
    background-color: #00664b;
    font-size: 20px;
    padding: 10px 15px;
}
.dummyData{
  background: #34aa88;
  text-align: justify;
}
.dummyData p{
  color: #fff;
  font-size: 15px;
  padding: 10px;
}
.dummyData h2{
  color: #fff;
}
.dummyData h3{
  color: #fff;
}
.contactUs{
  text-align: left;
}
.contactUs h1{
  text-align: left;
  color: #fff;
  padding: 10px;
  
}
.abtSchool p{
  font-size: 15px;
  text-align: justify;
} 
.dummyData .button-secondary {
    background-color: #00664b;
    font-size: 20px;
    padding: 10px 15px;
    text-align: center;
}
.btnReport {
  margin-top: 25px;
}
.scrollContent scroll-content{
  margin-top: 56px !important;
  text-align: center;
}
.LangList ion-list{
  padding: 10px;
}
.LangList scroll-content{
  margin-top: 56px !important;
  font-size: 16px;
}
.dummyData scroll-content{
  text-align: center;
}
.contactUs scroll-content{
  text-align: left;
}
.prvPolicy h2, h3{
  text-align: left;
}
.prvPolicy p{
  text-align: justify;
}
.toggle-checked {
    background-color: rgb(52, 170, 136);
}
.checkbox-checked {
    border-color: rgb(52, 170, 136);
    background-color: rgb(52, 170, 136);
}
.button-secondary {
    background-color: #00664b;
}
.list-header-md .label-md, .list-header-ios .label-ios, .list-header-wp .label-wp{
  border: none;
}
.queue .label-md, .queue .label-wp, .queue .label-ios {
    border-left: solid 2px #FE4C52;
    padding-left: 5px;
}
.picked .label-md, .picked .label-wp, .picked .label-ios {
    border-left: solid 2px #3BC7C4;
    padding-left: 5px;
}
.dismiss .label-md, .dismiss .label-wp, .dismiss .label-ios {
    border-left: solid 2px #387ef5;
    padding-left: 5px;
}