<ion-header>
	<ion-navbar no-border-bottom>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<img src="assets/img/misk_logo2.png" class="logos" />
		<ion-title class="logo-title title-ios">{{ 'MISK_TITLE' | translate }}</ion-title>
	</ion-navbar>

	<ion-toolbar no-border-top>
		<ion-segment [(ngModel)]="segment">
			<ion-segment-button value="all">
				{{ "ALL" | translate }}
			</ion-segment-button>
			<ion-segment-button value="today">
				{{ "TODAY'S" | translate }}
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
	<ion-toolbar no-border-top>
		<ion-searchbar class="colorText" [(ngModel)]="queryText" placeholder="{{'SEARCH' | translate }}" (ionInput)="updateSchedule()">
		</ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content class="breakText">

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'Pull_refresh' | translate}}" 
			refreshingText="{{ 'Refreshing' | translate }}...">
		</ion-refresher-content>
	</ion-refresher>

	<div [ngSwitch]="segment">
		<ion-list *ngSwitchCase="'all'">
			<ion-item-group *ngFor="let speaker of speakers">
				<div *ngFor="let student of (speaker.StudentList | myFilter:[{FirstName:queryText,LastName:queryText,Grade:queryText}]); let i = index">
					<ion-item-divider sticky *ngIf="speaker.Date===datetime1 && i===0">
						{{"TODAY_HEADER" | translate }}
					</ion-item-divider>
					<ion-item-divider sticky *ngIf="speaker.Date===datetime2 && i===0">
						{{"YESTERDAY_HEADER" | translate }}
					</ion-item-divider>
					<ion-item-divider sticky *ngIf="speaker.Date!==datetime1 && speaker.Date!==datetime2 && i===0">
						{{speaker.Date}}
					</ion-item-divider>
					<div *ngIf="student.Status===2">
						<ion-item-sliding #slidingItem [hidden]="session.hide" class="queue">
							<button ion-item (click)="goToSessionDetail(student)">
        <h2>{{student.FirstName | translate}} {{student.LastName | translate}}</h2>
		<p *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">{{student.Grade | translate }}({{student.Section | translate }}) {{student.QueueTime}}</p>
        <p *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'" > {{student.QueueTime}} {{student.Grade | translate }} {{student.Section | translate }}</p>
        <ion-note item-right *ngIf="student.Status===2">{{ "2" | translate }}</ion-note>
      </button>
						</ion-item-sliding>
					</div>
					<div *ngIf="student.Status===3">
						<ion-item-sliding #slidingItem [hidden]="session.hide" class="dismiss">
							<button ion-item (click)="goToSessionDetail(student)">
        <h2>{{student.FirstName | translate}} {{student.LastName | translate}}</h2>
        <p *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">{{student.Grade | translate }}({{student.Section | translate }}) {{student.DismissTime}}</p>
        <p *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'" > {{student.DismissTime}} {{student.Grade | translate }} {{student.Section | translate }}</p>
        <ion-note item-right *ngIf="student.Status===3">{{ "3" | translate }}</ion-note>
      </button>
						</ion-item-sliding>
					</div>
					<div *ngIf="student.Status===4">
						<ion-item-sliding #slidingItem [hidden]="session.hide" class="picked">
							<button ion-item (click)="goToSessionDetail(student)">
        <h2>{{student.FirstName | translate}} {{student.LastName | translate}}</h2>
        <p *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">{{student.Grade | translate }}({{student.Section | translate }}) {{student.PickedUpTime}}</p>
        <p *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'" > {{student.PickedUpTime}} {{student.Grade | translate }} {{student.Section | translate }}</p>
        <ion-note item-right *ngIf="student.Status===4">{{ "4" | translate }}</ion-note>
      </button>
						</ion-item-sliding>
					</div>
				</div>
			</ion-item-group>
		</ion-list>

	</div>

	<div [ngSwitch]="segment" cache-view="false">
		<ion-list *ngSwitchCase="'today'">

			<ion-item-group>

				<div *ngFor="let speaker of speakers; let i = index">
					<div *ngIf="i<=0">
						<div *ngIf="speaker.Date===datetime1">
							<ion-item-divider sticky>
								{{"TODAY_HEADER" | translate }}
							</ion-item-divider>

							<div *ngFor="let student of (speaker.StudentList | myFilter:[{FirstName:queryText,LastName:queryText,Grade:queryText}])">
								<div *ngIf="student.Status===2">
									<ion-item-sliding #slidingItem [hidden]="session.hide" class="queue">
										<button ion-item (click)="goToSessionDetail(student)">
        <h2>{{student.FirstName | translate}} {{student.LastName | translate}}</h2>
		<p *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">{{student.Grade | translate }}({{student.Section | translate }}) {{student.QueueTime}}</p>
        <p *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'" > {{student.QueueTime}} {{student.Grade | translate }} {{student.Section | translate }}</p>
        <ion-note item-right *ngIf="student.Status===2">{{ "2" | translate }}</ion-note>
      </button>
									</ion-item-sliding>
								</div>
								<div *ngIf="student.Status===3">
									<ion-item-sliding #slidingItem [hidden]="session.hide" class="dismiss">
										<button ion-item (click)="goToSessionDetail(student)">
        <h2>{{student.FirstName | translate}} {{student.LastName | translate}}</h2>
        <p *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">{{student.Grade | translate }}({{student.Section | translate }}) {{student.DismissTime}}</p>
        <p *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'" > {{student.DismissTime}} {{student.Grade | translate }} {{student.Section | translate }}</p>
        <ion-note item-right *ngIf="student.Status===3">{{ "3" | translate }}</ion-note>
      </button>
									</ion-item-sliding>
								</div>
								<div *ngIf="student.Status===4">
									<ion-item-sliding #slidingItem [hidden]="session.hide" class="picked">
										<button ion-item (click)="goToSessionDetail(student)">
        <h2>{{student.FirstName | translate}} {{student.LastName | translate}}</h2>
        <p *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">{{student.Grade | translate }}({{student.Section | translate }}) {{student.PickedUpTime}}</p>
        <p *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'" > {{student.PickedUpTime}} {{student.Grade | translate }} {{student.Section | translate }}</p>
        <ion-note item-right *ngIf="student.Status===4">{{ "4" | translate }}</ion-note>
      </button>
									</ion-item-sliding>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ion-item-group>
		</ion-list>
	</div>

</ion-content>