<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Disclaimer" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dummyData abtSchool contactUs">
  <h1>{{"Disclaimer" | translate }}</h1>
  <p>
    {{ "MISK11" | translate }}</p>
</ion-content>