<ion-header>
	<ion-navbar>
		<ion-title>{{"Std_Details" | translate }}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	

	<div *ngIf="this.confData.langs === 'en' || this.confData.langs === 'fp' || this.confData.langs === 'id'">
		<h1>{{session.FirstName | translate}} {{session.LastName | translate}}</h1>
		<p *ngIf="session.Status === 2">{{ "of" | translate }} {{ session.Grade | translate}} {{session.Section | translate}} {{ "is" | translate }} {{ "2" | translate
			}} {{ "at" | translate }} {{ session.GateName | translate}} {{ "at" | translate }} {{ session.QueueTime}}</p>
		<p *ngIf="session.Status === 3">{{ "of" | translate }} {{ session.Grade | translate}} {{session.Section | translate}} {{ "is" | translate }} {{ "3" | translate
			}} {{ "at" | translate }} {{ session.GateName | translate}} {{ "at" | translate }} {{ session.DismissTime}}</p>
		<p *ngIf="session.Status === 4">{{ "of" | translate }} {{ session.Grade | translate}} {{session.Section | translate}} {{ "is" | translate }} {{ "4" | translate
			}} {{ "at" | translate }} {{ session.GateName | translate}} {{ "at" | translate }} {{ session.PickedUpTime}}</p>
		<p>{{ "on" | translate }} {{ session.StatusDate | translate}}</p>
	</div>
	<div  *ngIf="this.confData.langs === 'ar' || this.confData.langs === 'ur'" class="Urdu-arabic">
		<h1>{{session.FirstName | translate}} {{session.LastName | translate}}</h1>
		<p *ngIf="session.Status === 2"> {{ session.QueueTime}} {{ session.Grade | translate}} ({{session.Section | translate}}) {{ session.GateName | translate}}  {{ "2" | translate }} {{ "WAQT" | translate }} </p>
		<p *ngIf="session.Status === 3"> {{ session.DismissTime}} {{ session.Grade | translate}} ({{session.Section | translate}}) {{ session.GateName | translate}}  {{ "3" | translate }} {{ "WAQT" | translate }} </p>
		<p *ngIf="session.Status === 4"> {{ session.PickedUpTime}} {{ session.Grade | translate}} ({{session.Section | translate}}) {{ session.GateName | translate}}  {{ "4" | translate }} {{ "WAQT" | translate }} </p>
		<p> {{ "dated" | translate }} {{ session.StatusDate | translate}}</p>
	</div>
	
	<!--<ion-buttons end >-->
		<!--<button ion-button (click)="pickedUp()" clear color="secondary">{{ "Picked Up" | translate }}</button>-->
		<div class="sessionDetails">
		<button *ngIf="showSkip" ion-button (click)="pickedUp()" color="secondary">{{ "Picked Up" | translate }}</button>
		</div>
	<!--</ion-buttons>-->

</ion-content>